.paskola a{
padding: 80px;
text-decoration: none;
border: solid 2px rgb(40, 80, 41);
border-radius: 10%;
font-size: 20px;
color: rgb(40, 80, 41);
}
.paskola {
  margin:150px 0px;
}
.form{
  margin: auto;
width: 500px;

}
.back a{
  color: rgb(40, 80, 41);
  padding: 15px 30px;
text-decoration: none;
border: solid 2px rgb(40, 80, 41);
}
.back {
  margin: 40px 0px;
}
html{
  height:100%;
  margin:auto;
  width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Work Sans', sans-serif;
	text-align: center;
}	

h1 {
  color: #333;
}
h3 {
  color: rgb(118, 121, 118);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(40, 80, 41);
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: rgb(40, 80, 41);
  cursor: pointer;
}
